<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agda Course @ BCAM - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/brands.min.css" />
    <link rel="stylesheet" href="/css/solid.min.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="/images/tutorial-logo.png" /></a>
      </div>
      <nav>
        <a href="/">Home</a>
        <a href="https://forms.gle/GGTKygCcyhDQV1jH8" target="_blank">Registration</a>
        <a href="/tutorial.html">Tutorial</a>
        <a href="https://github.com/umazalakain/agda-bcam" target="_blank"
          >Repository</a
        >
      </nav>
    </header>

    <main role="main">$body$</main>

    <footer>
      <div>A tutorial by:</div>
      <div>Uma Zalakain</div>
      $partial("templates/footer-uma.html")$
      <div>Organized by:</div>
      <div>BCAM - Basque Center for Applied Mathematics</div>
      $partial("templates/footer-bcam.html")$
    </footer>
  </body>
</html>
