<h2>Tutorial</h2>

<ul>
  <li><a href="/agda-bcam/README.html">Introduction</a></li>
  <li>
      Nov 22,
      <a href="/agda/Tutorials.Monday-Complete.html">Monday</a>. 15:00 - 17:30
      <a href="https://www.youtube.com/watch?v=iAkzXIbo0Dw">Video</a>
  </li>
  <li>
      Nov 23,
      <a href="/agda/Tutorials.Tuesday-Complete.html">Tuesday</a>. 15:00 - 16:30
      <a href="https://www.youtube.com/watch?v=AXfoJAlg7RQ">Video</a>
  </li>
  <li>
      Nov 24,
      <a href="/agda/Tutorials.Wednesday.html">Wednesday</a>. 15:00 - 17:30
      <a href="https://www.youtube.com/watch?v=cqxZR5DULhg">Video</a>
  </li>
  <li>
      Nov 25,
      <a href="/agda/Tutorials.Thursday.html">Thursday</a>. 15:00 - 17:30
      <a href="https://www.youtube.com/watch?v=bjcEcYMDyDw">Video</a>
  </li>
</ul>
